div.message-content > div.automated-effects.gm-info[data-visibility='gm'] {
  padding-left: 5px;
  display: block;
}

div.automated-effects.effects-window.types {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

div.automated-effects.effects-window.types > div > label {
  cursor: pointer;
  display: flex;

  margin: 2px 1px;
  height: 35px;
  width: 100%;

  font-size: 12px;

  align-items: center;
  background: #c0bcb3;
}

div.automated-effects.effects-window.types > div > label:hover {
  box-shadow: 0 0 3px #c00;
}

div.automated-effects.effects-window.types > div > input[type='radio']:checked + label {
  background: rgb(167 163 154);
}

div.automated-effects.effects-window.types > div > label > img {
  width: 25px;
  margin: 0 5px;
  align-items: left;
}

div.automated-effects.effects-window.types > div > input {
  opacity: 0;
  position: fixed;
  width: 0;
}

div.automated-effects.effects-window.types > div {
  margin-right: 5px;
}

div.automated-effects.effects-window.form-group {
  color: black;
  display: block;
  font-size: 12px;
  line-height: 16px;
  margin: 10px 0 5px 0;
}

div.automated-effects.effects-window.form-group div.form-fields > label {
  height: 52px;
  flex: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

div.automated-effects.effects-window.form-group input[name='damage'] {
  flex: 3;
}

div.automated-effects.effects-window.form-group h2 {
  margin-top: 0.5rem;
}

.automated-effects-hidden {
  display: none !important;
}
